.movie-card {
  width: 200px;
  height: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.movie-card .movie-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.movie-card:hover .movie-thumbnail {
  transform: scale(1.1);
}

/* .movie-card .movie-info {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  color: white;
  z-index: 2;
} */

/* .movie-card .movie-info h2,
.movie-card .movie-info p {
  margin: 0;
  padding-left: 10px;
} */

/* .card-gredient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, black);
  z-index: 1;
} */
