.main {
  max-width: 1400px;
  padding: 0 40px;
  margin: auto;
}
.search-result {
  text-align: center;
}
.swiper-slider-style {
  padding-left: 60px;
}

@media only screen and (max-width: 550px) {
  .swiper-slider-style {
    padding-left: 0;
  }
}
