.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 2px solid black;
}

.navbar a {
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar .search-box {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid black;
  margin-right: 1rem;
  position: relative;
}

.navbar .search-box input {
  height: inherit;
  outline: none;
  border: none;
  padding: 0 8px;
  font-size: 16px;
}

.navbar .search-box button {
  height: inherit;
  background: gray;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.navbar nav a {
  font-size: 1rem;
}
